[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "==1.9.1"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
pandas = "*"
dash-core-components= "==1.10.2"
dash-html-components= "==1.0.3"
dash-renderer= "==1.6.0"
dash-table= "==4.9.0"
Flask= "==1.1.2"
Flask-Compress= "==1.5.0"
scikit-learn= "==0.23.1"
joblib= "==0.16.0"
xgboost= "==1.1.1"
category-encoders= "==2.2.2"

[requires]
python_version = "3"
